.concerts {
    background-color: var(--bbackground);

    &__bg-block {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    &__decor {
        position: absolute;
        top: 20px;
        width: 100%;
        height: 70%;
        background: url("../img/bg-concerts.png") no-repeat center center;
        background-size: contain;
        z-index: 1;
        transform: translate(0px, 0px);
        transition: transform 0.1s ease-out;
        pointer-events: none;
    }

    &__img-wrap {
        max-width: 1920px;
        justify-self: center;
    }

    &__img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 1000;
        top: 150px;
    }
}

@media (max-width: 1440px) {
    .concerts {
        &__img {
            top: 100px;
        }
    }
}

@media (max-width: 768px) {
    .concerts {
        &__img {
            top: 60px;
        }
    }
}

@media (max-width: 425px) {
    .concerts {
        &__decor {
            top: 0;
        }
        &__img {
            top: 20px;
        }
    }
}

@media (max-width: 375px) {
    .concerts {
        &__bg-block {
            // height: 36vh;
        }

        &__photo {
            top: 40px;
        }
    }
}

@media (max-width: 320px) {
    .concerts {
        &__bg-block {
            // height: 30vh;
        }

        &__photo {
            top: 26px;
        }
    }
}
