.concerts-description {
    font-size: 3rem;
    background-color: var(--black);
    color: var(--light);

    &__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__text-colored {
        color: var(--main-red);
    }
}

@media (max-width: 1920px) {
    .concerts-description {
        font-size: 2.25rem;

        &__wrapper {
            gap: 20px;
        }
    }
}

@media (max-width: 1440px) {
    .concerts-description {
        font-size: 1.875rem;
    }
}

@media (max-width: 1024px) {
    .concerts-description {
        font-size: 1.625rem;
    }
}

@media (max-width: 768px) {
    .concerts-description {
        font-size: 1.25rem;

        &__wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

@media (max-width: 425px) {
    .concerts-description {
        font-size: 1rem;

        &__wrapper {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
