/* stylelint-disable order/order */
/* Header */

.header {
    background-color: var(--black);
    position: relative;
    z-index: 10000;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: translateY(0);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__nav-wrapper {
        width: 100%;
    }

    &__logo-wrap {
        max-width: 100px;
    }

    &__logo {
        display: block;
        width: 100%;
    }

    &__menu-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Nav */

.nav {
    margin: 0 auto;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
    }

    &__link {
        padding: 50px 20px;
    }
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    transform: translateY(-100%);
    animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width: 1440px) {
    .header {
        &__logo {
            max-height: 60px;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__logo {
            max-height: 40px;
        }
    }

    .nav {
        &__list {
            gap: 5px;
        }

        &__link {
            font-size: 1.5rem;
            padding: 20px 10px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__menu-wrap {
            padding: 10px 0;
        }
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        background-color: var(--dark-grey);
        transition: right 0.3s ease;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;

        &.active {
            right: 0;
            background-color: var(--black);
            border-bottom-left-radius: 40px;
        }

        &__wrapper {
            width: 100%;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 0;
            text-align: right;
            padding-right: 40px;
        }

        &__link {
            font-size: 1.5rem;
            display: block;
            text-align: left;
            padding: 20px 0;
        }
    }
}

@media (max-width: 425px) {
    .nav {
        width: 50%;

        &__list {
            padding-right: 0;
            width: 80%;
        }

        &__link {
            font-size: 1.125rem;
        }
    }
}

@media (max-width: 320px) {
    .nav {
        width: 60%;
    }
}

.container {
    max-width: 1920px;
    padding: 0 60px;
    margin: 0 auto;

    @media (max-width: 425px) {
        padding: 0 10px;
    }
}

@font-face {
    font-family: "Impact";
    src: ("impact"), url("../fonts/impact.woff2") format("woff2"),
        url("../fonts/impact.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
