/* Music */

.music {
    background-color: var(--black);
    padding-top: 30px;
    padding-bottom: 60px;
}

.tabs {
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 50px;
    }

    &__button {
        background-color: transparent;
        color: var(--light);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    &__button_active {
        color: var(--main-red);
        text-decoration: underline;
    }

    &__panel {
        display: none;

        &_active {
            display: block;
        }

        &_bg {
            &::after {
                content: "";
                position: absolute;
                top: 720px;
                left: 0;
                width: 100%;
                height: 80%;
                background-image: url(../img/lines.jpg);
                background-size: 70% auto;
                opacity: 0.3;
            }
        }
    }

    &__content {
        position: relative;
        margin-top: 10px;
    }

    &__blocks {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
        padding: 0 500px;
    }

    &__img-wrap {
        max-width: 700px;
        transition: all 0.4s ease;

        &:hover {
            transform: scale(1.03);
        }
    }

    &__img {
        display: block;
        width: 100%;
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.3);
    }

    &__release-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        transition: all 0.4s ease;

        &:hover {
            transform: scale(1.03);
        }
    }

    &__release-name {
        color: var(--light);
        font-size: 3rem;
    }

    &__block-text {
        color: var(--light);
        font-size: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__video {
        aspect-ratio: 16 / 9;
        width: 100%;
        max-width: 100%;
    }

    &__iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
}

@media (max-width: 1750px) {
    .tabs {
        &__block-text {
            font-size: 3rem;
        }
    }
}

@media (max-width: 1440px) {
    .tabs {
        &__blocks {
            padding: 0px 300px;
        }
    }
}

@media (max-width: 1200px) {
    .tabs {
        &__blocks {
            padding: 0px 200px;
        }
    }
}

@media (max-width: 1024px) {
    .tabs {
        &__blocks {
            padding: 0px 100px;
        }

        &__button {
            font-size: 1.5rem;
        }

        &__panel {
            &_bg::after {
                background-size: 110% auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .tabs {
        &__release-name {
            font-size: 2rem;
        }
        &__panel {
            &_bg::after {
                top: 380px;
                background-size: 130% auto;
            }
        }
    }
}

@media (max-width: 660px) {
    .tabs {
        &__blocks {
            grid-template-columns: 1fr;
        }

        &__block-text {
            gap: 10px;
        }

        &__img-wrap {
            max-width: 320px;
        }

        &__panel {
            &_bg::after {
                top: 630px;
                background-size: 270% auto;
                height: 90%;
            }
        }
    }
}

@media (max-width: 425px) {
    .music {
        padding-bottom: 30px;
    }

    .tabs {
        &__blocks {
            gap: 20px;
            padding: 0 50px;
        }

        &__block-text {
            font-size: 1.875rem;
        }

        &__img-wrap {
            max-width: 280px;
        }

        &__panel {
            &_bg::after {
                background-size: 333% auto;
                height: 85%;
            }
        }
    }
}

@media (max-width: 375px) {
    .tabs {
        &__panel {
            &_bg::after {
                background-size: 370% auto;
            }
        }
    }
}
@media (max-width: 320px) {
    .tabs {
        &__panel {
            &_bg::after {
                background-size: 377% auto;
                top: 420px;
                height: 88%;
            }
        }
    }
}
