<section class="booking">
    <div class="booking__wrapper">
        <h2 class="booking__title">BOOKING</h2>
        <div class="booking__blocks">
            <div class="booking__links">
                <a
                    href="https://t.me/dropdread"
                    class="booking__link"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="./img/icons/icon-tg-info.png"
                        class="booking__icon-link"
                        alt="Иконка Telegram"
                    />
                </a>
                <a
                    href="https://vk.com/craftcore_records"
                    class="booking__link"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="./img/icons/icon-vk-info.png"
                        class="booking__icon-link"
                        alt="Иконка ВКонтакте"
                    />
                </a>
                <a
                    href="mailto:dexdbell.band@gmail.com"
                    class="booking__link"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="./img/icons/icon-email-info.png"
                        class="booking__icon-link"
                        alt="Иконка почты"
                    />
                </a>
            </div>
            <a href="mailto:craftcorestudio@gmail.com" class="booking__email"
                >craftcorestudio@gmail.com</a
            >
        </div>
    </div>
</section>
