<section class="concerts">
    <h2 class="concerts__title visually-hidden">Блоко с фото артистов</h2>
    <div class="concerts__bg-block">
        <div class="concerts__decor"></div>
        <div class="concerts__img-wrap">
            <picture>
                <source
                    srcset="./img/bg-photo-concerts.webp"
                    type="image/webp"
                />
                <img
                    src="./img/bg-photo-concerts.png"
                    class="concerts__img"
                    alt="Фото артистов"
                />
            </picture>
        </div>
    </div>
</section>
