<section
    class="concerts-list"
    id="concerts-list"
    itemscope
    itemtype="https://schema.org/Event"
>
    <h2 class="concerts-list__title visually-hidden">Список концертов</h2>
    <div class="line__line-wrap">
        <img
            src="./img/line.jpg"
            class="line__img line__img_size"
            alt="Декоративная картинка-линия"
        />
    </div>
    <div class="concerts-list__wrapper container">
        <div
            class="concerts-list__block"
            itemscope
            itemprop="performer"
            itemtype="https://schema.org/Organization"
        >
            <span
                class="concerts-list__date"
                itemprop="startDate"
                content="2025-10-25T00:00:00Z"
                >25 октября МОСКВА</span
            >
            <div class="concerts-list__img-wrap">
                <img
                    src="./img/pravda.png"
                    class="concerts-list__img"
                    alt="Логотип Pravda"
                    itemprop="image"
                />
            </div>
            <div class="concerts-list__buttons-wrap">
                <button
                    id="timepad_twf_register_3323581"
                    class="concerts-list__button button"
                >
                    Купить билет
                </button>
                <button class="concerts-list__button button button_colored">
                    Встреча
                </button>
            </div>
        </div>
        <div
            class="concerts-list__block"
            itemscope
            itemprop="performer"
            itemtype="https://schema.org/Organization"
        >
            <span
                class="concerts-list__date"
                itemprop="startDate"
                content="2025-10-26T00:00:00Z"
                >26 октября СПБ</span
            >
            <div class="concerts-list__img-wrap">
                <img
                    src="./img/lastochka.png"
                    class="concerts-list__img"
                    alt="Логотип Lastochka"
                    itemprop="image"
                />
            </div>
            <div class="concerts-list__buttons-wrap">
                <button
                    id="timepad_twf_register_3323587"
                    class="concerts-list__button button"
                >
                    Купить билет
                </button>
                <button class="concerts-list__button button button_colored">
                    Встреча
                </button>
            </div>
        </div>
    </div>
    <div class="line__img-wrap">
        <img
            src="./img/line.jpg"
            class="line__img line__img_size"
            alt="Декоративная картинка-линия"
        />
    </div>
</section>
