<section
    class="concerts-description"
    itemscope
    itemtype="https://schema.org/MusicGroup"
>
    <h2 class="concerts-description__title visually-hidden">Описание группы</h2>
    <div class="concerts-description__wrapper container">
        <p class="concerts-description__text">
            Группа
            <span class="concerts-description__text-colored" itemprop="name"
                >DEXDBELL</span
            >
            &#160;&#8212; это лучшее, что вы&#160;сможете услышать
            на&#160;российской метал сцене! Уникальный музыкальный проект,
            который покорит ваши сердечки и&#160;не&#160;только.
        </p>
        <p class="concerts-description__text">
            Приходи на&#160;концерты, чтобы оторваться по&#160;полной!
        </p>
    </div>
</section>
