<section class="concerts-list">
    <div class="line__line-wrap">
        <img
            src="./img/line.jpg"
            class="line__img line__img_size"
            alt="Декоративная картинка-линия"
        />
    </div>
    <div class="concerts-list__wrapper container">
        <div class="concerts-list__block">
            <span class="concerts-list__date">25 октября МОСКВА</span>
            <div class="concerts-list__img-wrap">
                <img
                    src="./img/pravda.png"
                    class="concerts-list__img"
                    alt="Логотип Pravda"
                />
            </div>
            <div class="concerts-list__buttons-wrap">
                <button class="concerts-list__button button">
                    Купить билет
                </button>
                <button class="concerts-list__button button button_colored">
                    Встреча
                </button>
            </div>
        </div>
        <div class="concerts-list__block">
            <span class="concerts-list__date">26 октября СПБ</span>
            <div class="concerts-list__img-wrap">
                <img
                    src="./img/lastochka.png"
                    class="concerts-list__img"
                    alt="Логотип Lastochka"
                />
            </div>
            <div class="concerts-list__buttons-wrap">
                <button class="concerts-list__button button">
                    Купить билет
                </button>
                <button class="concerts-list__button button button_colored">
                    Встреча
                </button>
            </div>
        </div>
    </div>
    <div class="line__img-wrap">
        <img
            src="./img/line.jpg"
            class="line__img line__img_size"
            alt="Декоративная картинка-линия"
        />
    </div>
</section>
