<section class="concerts-description">
    <div class="concerts-description__wrapper container">
        <p class="concerts-description__text">
            Группа
            <span class="concerts-description__text-colored">DEXDBELL</span
            >&#160;&#8212; это лучшее, что вы&#160;сможете услышать
            на&#160;российской метал сцене! Уникальный музыкальный проект,
            который покорит ваши сердечки и&#160;не&#160;только.
        </p>
        <p class="concerts-description__text">
            Приходи на&#160;концерты, чтобы оторваться по&#160;полной!
        </p>
    </div>
    <div class="line__img-wrap">
        <img
            src="./img/line.jpg"
            class="line__img"
            alt="Декоративная картинка-линия"
        />
    </div>
</section>
