<footer class="footer">
    <img
        src="./img/line.jpg"
        class="main-bg__decor line__img"
        alt="Декоративная картинка-линия"
    />
    <div class="footer__wrapper container">
        <div class="footer__links">
            <a href="index.html" class="footer__link link link_colored"
                >Главная</a
            >
            <a href="concerts.html" class="footer__link link link_colored"
                >Концерты</a
            >
            <a href="music.html" class="footer__link link link_colored"
                >Музыка</a
            >
            <a href="info.html" class="footer__link link link_colored"
                >Информация</a
            >
        </div>
        <div class="footer__logo-wrap">
            <img src="./img/logo.png" class="footer__logo-img" alt="Логотип" />
        </div>
        <div class="footer__contacts">
            <div class="footer__socials">
                <span class="footer__title">Написать нам:</span>
                <div class="footer__socials-list">
                    <a
                        href="https://vk.com/dexdbell"
                        class="footer__social-link"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="./img/icons/icon-vk.png"
                            class="footer__social-img"
                            alt="Иконка ВКонтакте"
                        />
                    </a>
                    <a
                        href="https://t.me/dexdbell"
                        class="footer__social-link"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="./img/icons/icon-tg.png"
                            class="footer__social-img"
                            alt="Иконка Телеграм"
                        />
                    </a>
                    <a
                        href="https://www.instagram.com/dexdbell.band"
                        class="footer__social-link"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="./img/icons/icon-ig.png"
                            class="footer__social-img"
                            alt="Иконка Инстаграм"
                        />
                    </a>
                    <a
                        href="mailto:dexdbell.band@gmail.com"
                        class="footer__social-link"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src="./img/icons/icon-email.png"
                            class="footer__social-img"
                            alt="Иконка Электронной почты"
                        />
                    </a>
                </div>
            </div>
            <div class="footer__email-block">
                <span class="footer__title">Почта:</span>
                <a
                    href="mailto:dexdbell.band@gmail.com"
                    class="footer__email-link"
                    >dexdbell.band@gmail.com</a
                >
            </div>
            <p class="footer__text">
                *Instagram — принадлежит американской компании Meta, которую
                признали экстремистской, запрещён на территории РФ
            </p>
        </div>
    </div>
</footer>
