<header class="header">
  <div class="header__wrapper">
    <button class="burger" aria-label="Меню">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header__nav-wrapper">
      <nav class="nav container">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="index.html" class="nav__link link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="concerts.html" class="nav__link link">Концерты</a>
          </li>
          <li class="nav__item">
            <a href="music.html" class="nav__link link">Музыка</a>
          </li>
          <li class="nav__item">
            <a href="info.html" class="nav__link link">Информация</a>
          </li>
        </ul>
      </nav>
      <div class="line line__line-wrap">
        <img
          src="./img/line.jpg"
          class="line__img line__img_size"
          alt="Декоративная картинка-линия"
        />
      </div>
    </div>
  </div>
</header>
