<header class="header">
    <div class="header__line-container">
        <div class="header__wrapper container">
            <button class="burger" aria-label="Меню">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__nav-wrapper">
                <div class="header__menu-wrap">
                    <div class="header__logo-wrap">
                        <a href="index.html">
                            <img
                                src="./img/logo.png"
                                class="header__logo"
                                alt="Логотип Dexdbell"
                            />
                        </a>
                    </div>
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="concerts.html" class="nav__link link"
                                    >Концерты</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="music.html" class="nav__link link"
                                    >Музыка</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="info.html" class="nav__link link"
                                    >Информация</a
                                >
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="line line__line-wrap">
            <img
                src="./img/line.jpg"
                class="line__img line__img_size"
                alt="Декоративная картинка-линия"
            />
        </div>
    </div>
</header>
