<header class="header">
    <div class="header__line-container">
        <div class="header__wrapper container">
            <button class="burger" aria-label="Меню">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__nav-wrapper">
                <div class="header__menu-wrap">
                    <a
                        href="index.html"
                        class="header__logo-wrap"
                        itemscope
                        itemtype="https://schema.org/Organization"
                    >
                        <img
                            src="./img/logo.png"
                            class="header__logo"
                            alt="Логотип Dexdbell"
                            itemprop="logo"
                        />
                        <meta itemprop="name" content="Dexdbell" />
                    </a>

                    <nav class="nav">
                        <ul class="nav__list">
                            <li
                                class="nav__item"
                                itemscope
                                itemtype="https://schema.org/Article"
                            >
                                <a
                                    href="concerts.html"
                                    class="nav__link link"
                                    itemprop="url"
                                    >Концерты</a
                                >
                            </li>
                            <li
                                class="nav__item"
                                itemscope
                                itemtype="https://schema.org/Article"
                            >
                                <a
                                    href="music.html"
                                    class="nav__link link"
                                    itemprop="url"
                                    >Музыка</a
                                >
                            </li>
                            <li
                                class="nav__item"
                                itemscope
                                itemtype="https://schema.org/Article"
                            >
                                <a
                                    href="info.html"
                                    class="nav__link link"
                                    itemprop="url"
                                    >Информация</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <button class="button button_size">
                        <a
                            href="/concerts.html#concerts-list"
                            class="button__link"
                        >
                            Купить билет
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="line line__line-wrap">
            <img
                src="./img/line.jpg"
                class="line__img line__img_size"
                alt="Декоративная картинка-линия"
            />
        </div>
    </div>
</header>
