<section class="info-links">
    <h1 class="title">DEXDBELL LINKS</h1>
    <div class="info-links__wrapper container">
        <div class="info-links__blocks-socials">
            <a
                href="https://t.me/dexdbell"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    src="./img/icons/icon-tg.png"
                    class="info-links__img-icon"
                    alt="Иконка Телеграм"
                />
            </a>
            <a
                href="https://vk.com/dexdbell"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    src="./img/icons/icon-vk.png"
                    class="info-links__img-icon"
                    alt="Иконка ВКонтакте"
                />
            </a>
            <a
                href="https://www.youtube.com/@DEXDBELL.CHANNEL"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    src="./img/icons/icon-yt.png"
                    class="info-links__img-icon"
                    alt="Иконка YouTube"
                />
            </a>
            <a
                href="https://www.instagram.com/dexdbell.band"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    src="./img/icons/icon-ig.png"
                    class="info-links__img-icon"
                    alt="Иконка Инстаграм"
                />
            </a>
            <a
                href="mailto:dexdbell.band@gmail.com"
                class="info-links__social"
                target="_blank"
            >
                <img
                    src="./img/icons/icon-email.png"
                    class="info-links__img-icon"
                    alt="Иконка Электронной почты"
                />
            </a>
        </div>
    </div>
</section>
