<section
    class="info-links"
    itemscope
    itemtype="https://schema.org/SocialMediaPosting"
>
    <h1 class="title" itemprop="headline">DEXDBELL LINKS</h1>
    <div class="info-links__wrapper container">
        <div class="info-links__blocks-socials">
            <a
                href="https://t.me/dexdbell"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
                itemprop="url"
            >
                <img
                    src="./img/icons/icon-tg.png"
                    class="info-links__img-icon"
                    alt="Иконка Телеграм"
                    itemprop="image"
                />
                <meta itemprop="name" content="Телеграм" />
                <meta
                    itemprop="description"
                    content="Ссылка на канал в Telegram"
                />
            </a>
            <a
                href="https://vk.com/dexdbell"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
                itemprop="url"
            >
                <img
                    src="./img/icons/icon-vk.png"
                    class="info-links__img-icon"
                    alt="Иконка ВКонтакте"
                    itemprop="image"
                />
                <meta itemprop="name" content="ВКонтакте" />
                <meta
                    itemprop="description"
                    content="Ссылка на страницу в ВКонтакте"
                />
            </a>
            <a
                href="https://www.youtube.com/@DEXDBELL.CHANNEL"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
                itemprop="url"
            >
                <img
                    src="./img/icons/icon-yt.png"
                    class="info-links__img-icon"
                    alt="Иконка YouTube"
                    itemprop="image"
                />
                <meta itemprop="name" content="YouTube" />
                <meta
                    itemprop="description"
                    content="Ссылка на канал YouTube"
                />
            </a>
            <a
                href="https://www.instagram.com/dexdbell.band"
                class="info-links__social"
                target="_blank"
                rel="noopener noreferrer"
                itemprop="url"
            >
                <img
                    src="./img/icons/icon-ig.png"
                    class="info-links__img-icon"
                    alt="Иконка Инстаграм"
                    itemprop="image"
                />
                <meta itemprop="name" content="Инстаграм" />
                <meta
                    itemprop="description"
                    content="Ссылка на профиль в Instagram"
                />
            </a>
            <a
                href="mailto:dexdbell.band@gmail.com"
                class="info-links__social"
                target="_blank"
                itemprop="url"
            >
                <img
                    src="./img/icons/icon-email.png"
                    class="info-links__img-icon"
                    alt="Иконка Электронной почты"
                    itemprop="image"
                />
                <meta itemprop="name" content="Электронная почта" />
                <meta
                    itemprop="description"
                    content="Ссылка на почту для связи"
                />
            </a>
        </div>
    </div>
</section>
