<section class="main-bg" itemscope itemtype="https://schema.org/MusicGroup">
    <meta itemprop="name" content="Dexdbell" />
    <h2 class="main-bg__title visually-hidden">Главное фото артистов</h2>
    <div class="main-bg__wrapper">
        <div class="main-bg__container">
            <a href="https://band.link/sportmetal" class="main-bg__img-wrap">
                <picture>
                    <source
                        srcset="../img/sport-metal-cover2.webp"
                        type="image/webp"
                    />
                    <img
                        src="./img/sport-metal-cover2.jpg"
                        class="main-bg__img"
                        alt="Sport Metal Cover2 image"
                        itemprop="image"
                    />
                </picture>
            </a>
            <div class="main-bg__wrap-content">
                <div class="main-bg__block-text">
                    <span>SPORT METAL</span>
                    <span>10/10/2025</span>
                    <button class="button button_size">
                        <a
                            href="https://band.link/sportmetal"
                            class="button__link"
                            target="_blank"
                            rel="noopener noreferrer"
                            >ALBUM PRE-SAVE</a
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
