<section class="music" itemscope itemtype="https://schema.org/MusicGroup">
    <meta itemprop="name" content="Dexdbell" />
    <h2 class="misic__title visually-hidden">Music</h2>
    <div class="tabs">
        <div class="tabs__nav">
            <button
                class="tabs__button tabs__button_active link"
                data-tab="releases"
            >
                Релизы
            </button>
            <button class="tabs__button link" data-tab="videos">Видео</button>
        </div>
        <div class="tabs__content">
            <div class="bg-wrap"></div>

            <div
                class="tabs__panel tabs__panel_active tabs__panel_bg"
                id="releases"
            >
                <div class="tabs__blocks">
                    <a
                        class="tabs__img-wrap"
                        href="https://band.link/DOTA2"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="DOTA 2.0" />
                        <meta itemprop="datePublished" content="2025-04-18" />

                        <picture>
                            <source
                                srcset="./img/db-music-tabs.webp"
                                type="image/webp"
                            />
                            <img
                                src="./img/db-music-tabs.jpg"
                                class="tabs__img"
                                alt="BD image"
                            />
                        </picture>
                    </a>
                    <div class="tabs__block-text">
                        <span>DOTA 2.0</span>
                        <span>18/04/25</span>
                        <button class="button button_size">
                            <a
                                href="https://band.link/DOTA2"
                                class="button__link"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Слушать</a
                            >
                        </button>
                    </div>

                    <a
                        href="https://band.link/BMTH"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="BMTH" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/bmth.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/bmth.jpg"
                                    class="tabs__img"
                                    alt="BMTH image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name" itemprop="name"
                            >BMTH</span
                        >
                    </a>

                    <a
                        href="https://band.link/GYMDOWN"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="GYMDOWN" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/gymdown.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/gymdown.jpg"
                                    class="tabs__img"
                                    alt="GYMDOWN image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">GYMDOWN</span>
                    </a>

                    <a
                        href="https://band.link/DOTA666"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="DOTA" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/dota.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/dota.jpg"
                                    class="tabs__img"
                                    alt="DOTA image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">DOTA</span>
                    </a>

                    <a
                        href="https://band.link/DBSLAM"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="SLAM" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/slam.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/slam.jpg"
                                    class="tabs__img"
                                    alt="SLAM image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">SLAM</span>
                    </a>

                    <a
                        href="https://band.link/DXNCE"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="DANCE" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/dance.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/dance.jpg"
                                    class="tabs__img"
                                    alt="DANCE image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">DANCE</span>
                    </a>

                    <a
                        href="https://band.link/B00MER"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="BOOMER" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/boomer.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/boomer.jpg"
                                    class="tabs__img"
                                    alt="BOOMER image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">BOOMER</span>
                    </a>

                    <a
                        href="https://band.link/Bxnger"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="BXNGER" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/bxnger.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/bxnger.jpg"
                                    class="tabs__img"
                                    alt="BXNGER image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">BXNGER</span>
                    </a>

                    <a
                        href="https://band.link/DBHELL"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="HELL" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/hell.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/hell.jpg"
                                    class="tabs__img"
                                    alt="HELL image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">HELL</span>
                    </a>

                    <a
                        href="https://band.link/DEXDBELLKMG"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="KILL ME GENTLY" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/kill-mg.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/kill-mg.jpg"
                                    class="tabs__img"
                                    alt="KILL ME GENTLY image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">KILL ME GENTLY</span>
                    </a>

                    <a
                        href="https://band.link/BRAZZILS"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="BRAZZILS" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/brazzils.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/brazzils.jpg"
                                    class="tabs__img"
                                    alt="BRAZZILS image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">BRAZZILS</span>
                    </a>

                    <a
                        href="https://band.link/dbhorror"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="HORROR" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/horror.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/horror.jpg"
                                    class="tabs__img"
                                    alt="HORROR image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">HORROR</span>
                    </a>
                    <a
                        href="https://band.link/memphismetal"
                        class="tabs__release-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="album"
                        itemscope
                        itemtype="https://schema.org/MusicAlbum"
                    >
                        <meta itemprop="name" content="MEMPHIS METAL" />
                        <div class="tabs__img-wrap">
                            <picture>
                                <source
                                    srcset="./img/memphis-metal.webp"
                                    type="image/webp"
                                />
                                <img
                                    src="./img/memphis-metal.jpg"
                                    class="tabs__img"
                                    alt="MEMPHIS METAL image"
                                    itemprop="image"
                                />
                            </picture>
                        </div>
                        <span class="tabs__release-name">MEMPHIS METAL</span>
                    </a>
                </div>
            </div>
            <div class="tabs__panel" id="videos">
                <div class="tabs__blocks">
                    <div
                        class="tabs__video"
                        itemscope
                        itemtype="https://schema.org/VideoObject"
                    >
                        <meta itemprop="name" content="Pj0jx5Tdq3Q" />
                        <meta
                            itemprop="embedUrl"
                            content="https://www.youtube.com/embed/Pj0jx5Tdq3Q"
                        />
                        <meta
                            itemprop="thumbnailUrl"
                            content="https://img.youtube.com/vi/Pj0jx5Tdq3Q/hqdefault.jpg"
                        />
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/Pj0jx5Tdq3Q"
                            allowfullscreen
                            itemprop="embedUrl"
                        ></iframe>
                    </div>
                    <div
                        class="tabs__video"
                        itemscope
                        itemtype="https://schema.org/VideoObject"
                    >
                        <meta itemprop="name" content="krwFaoxWupg" />
                        <meta
                            itemprop="embedUrl"
                            content="https://www.youtube.com/embed/krwFaoxWupg"
                        />
                        <meta
                            itemprop="thumbnailUrl"
                            content="https://img.youtube.com/vi/krwFaoxWupg/hqdefault.jpg"
                        />
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/krwFaoxWupg"
                            allowfullscreen
                            itemprop="embedUrl"
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/IOPAvRgWKVg"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/sPo6CTr3I38"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/D4AZNzOzuKM"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/7zfi8C12gZE"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/TnThILeRGvE"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/ieQJiM66as0"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/o0iiUx8RYVk"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/ih_U_eaEUvM"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/enxEyqjgQ0A"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="tabs__video">
                        <iframe
                            class="tabs__iframe"
                            src="https://www.youtube.com/embed/JAz7JOr-jrM"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
