<section class="music-links" itemscope itemtype="https://schema.org/MusicGroup">
    <meta itemprop="name" content="Dexdbell" />
    <meta itemprop="url" content="https://band.link/Dexdbell" />

    <h2 class="music-links__title visually-hidden">Ссылки на Информация</h2>
    <div class="music-links__wrapper">
        <div class="info-links__blocks-music">
            <a
                href="https://music.yandex.ru/artist/21015856"
                class="info-links__music"
                itemprop="sameAs"
                target="_blank"
                rel="noopener noreferrer"
            >
                <picture>
                    <source srcset="./img/ya-music.webp" type="image/webp" />
                    <img
                        src="./img/ya-music.jpg"
                        class="info-links__img"
                        alt="Yandex music"
                    />
                </picture>
            </a>
            <a
                href="https://open.spotify.com/artist/6ZlUvN7gKCPpC2KtgLj3me"
                class="info-links__music"
                itemprop="sameAs"
                target="_blank"
                rel="noopener noreferrer"
            >
                <picture>
                    <source srcset="./img/spotify.webp" type="image/webp" />
                    <img
                        src="./img/spotify.jpg"
                        class="info-links__img"
                        alt="Spotify music"
                    />
                </picture>
            </a>
            <a
                href="https://vk.com/artist/dexdbell"
                class="info-links__music"
                itemprop="sameAs"
                target="_blank"
                rel="noopener noreferrer"
            >
                <picture>
                    <source srcset="./img/vk-music.webp" type="image/webp" />
                    <img
                        src="./img/vk-music.jpg"
                        class="info-links__img"
                        alt="VK music"
                    />
                </picture>
            </a>
            <a
                href="https://music.apple.com/us/artist/dexdbell/1716253576"
                class="info-links__music"
                itemprop="sameAs"
                target="_blank"
                rel="noopener noreferrer"
            >
                <picture>
                    <source srcset="./img/apple-music.webp" type="image/webp" />
                    <img
                        src="./img/apple-music.jpg"
                        class="info-links__img"
                        alt="Apple music"
                    />
                </picture>
            </a>
            <a
                href="https://band.link/Dexdbell"
                target="_blank"
                class="info-links__music"
                itemprop="sameAs"
                rel="noopener noreferrer"
            >
                <picture>
                    <source srcset="./img/bandlink.webp" type="image/webp" />
                    <img
                        src="./img/bandlink.jpg"
                        class="info-links__img"
                        alt="Bandlink music"
                    />
                </picture>
            </a>
            <a
                href="https://music.youtube.com/channel/UCHidx2HowGEEt22hKYOGpAA"
                class="info-links__music"
                itemprop="sameAs"
                target="_blank"
                rel="noopener noreferrer"
            >
                <picture>
                    <source srcset="./img/yt-music.webp" type="image/webp" />
                    <img
                        src="./img/yt-music.jpg"
                        class="info-links__img"
                        alt="YouTube music"
                    />
                </picture>
            </a>
        </div>
    </div>
</section>
