/* stylelint-disable order/order */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    height: 100%;
    font-family: var(--main-font);
    -webkit-text-size-adjust: 100%;
}

.page__body {
    background-color: var(--black);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    margin: 0;
    min-width: 320px;
    min-height: 100%;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.main {
    &__wrapper {
        position: relative;
    }
}

.bg-wrap {
    position: absolute;
    top: -40px;
    left: 20%;
    background-image: url(../img/logo.png);
    background-size: 60%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 60%;
    opacity: 0.5;
}
