/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */

:root {
  --black: #000;
  --white: #fff;
  --main-bg: #fffaec;

  --main-yellow: #ffcd02;
  --main-red: #c81a1a;
  --dark-red: #931213;
  --accent: #ac182c;
  --visited: #5d0e18;
  --main-green: #008100;
  --accent-green: #0eaa0e;

  --light: #e0e2e4;
  --bbackground: #b6b0b3;

  --main-font: "Impact", "Arial", sans-serif;
}
